<div class="FileTabs">
    <div class="FileTabs_tabs">
        <div class="FileTabs_tabs_items">
            <div class="FileTabs_tabs_items_item __proto">
                <div class="FileTabs_tabs_items_item_isChanged">*</div>
                <div class="FileTabs_tabs_items_item_fileName">
                    ...
                </div>
                <div class="FileTabs_tabs_items_item_closeBtn">
                    <i class="icofont-close-line"></i>
                </div>
                <div class="FileTabs_tabs_items_item_pathTooltip">
                    <div class="FileTabs_tabs_items_item_pathTooltip_box">
                        <div class="FileTabs_tabs_items_item_pathTooltip_path">
                        </div>
                        <div class="FileTabs_tabs_items_item_pathTooltip_copyBtn">
                            <i class="icofont-copy"></i>
                        </div>
                        <div class="FileTabs_tabs_items_item_pathTooltip_box_arrow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="FileTabs_editors">
        <div class="FileTabs_editors_content">
            <div class="FileTabs_editors_items">
                <div class="FileTabs_editors_items_item __proto">
                    <div class="FileTabs_editors_items_item_ace"></div>
                    <div class="FileTabs_editors_items_item_variablePopup" tabindex="1">
                        <div class="FileTabs_editors_items_item_variablePopup_variablesExplorerComp">
                            {html_variablesExplorer}
                        </div>
                    </div>
                    <div class="FileTabs_editors_items_item_breakpointDetails">
                        <div class="FileTabs_editors_items_item_breakpointDetails_box">
                            <div class="FileTabs_editors_items_item_breakpointDetails_box_condition">
                                <div class="FileTabs_editors_items_item_breakpointDetails_box_condition_title">
                                    断点条件
                                </div>
                                <div class="FileTabs_editors_items_item_breakpointDetails_box_condition_input">
                                    <input class="FileTabs_editors_items_item_breakpointDetails_box_condition_input_rI" placeholder="Expression like foo == bar" />
                                </div>
                            </div>
                            <div class="FileTabs_editors_items_item_breakpointDetails_box_buttons">
                                <div class="FileTabs_editors_items_item_breakpointDetails_box_buttons_button FileTabs_editors_items_item_breakpointDetails_box_buttons_button__save">
                                    保存
                                </div>
                                <div class="FileTabs_editors_items_item_breakpointDetails_box_buttons_button FileTabs_editors_items_item_breakpointDetails_box_buttons_button__cancel">
                                    取消
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="FileTabs_editors_noItem">
                没有打开的源文件
            </div>
        </div>
    </div>
</div>